<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Welcome to CodeIgniter 3 + Vue 3 + Vite</title>

		{{ spaTags.preload|raw }}
		{{ spaTags.css|raw }}

	</head>

	<body>
		<div id="app"></div>

		{{ spaTags.js|raw }}
	</body>

</html>
